
.toCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.chatBoxContainer{
    width: 63vw;
    overflow: hidden;
    height: 65vh;
}

.chatBox {
    background: aliceblue;
    overflow-y: scroll;
    width: 77%;
    height: 97%;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
    border: solid 1px rgba(0, 0, 0, 0);
    /*box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);*/
    box-shadow: 0 1px 15px white;
    text-align: left;
    float: left;
    word-wrap:break-word;
}

.textField{
    background: aliceblue;
    width: 80%;
    resize: none;
    font: 12pt arial;
    /*box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);*/
    box-shadow: 0 1px 5px white;
    border-radius: 3px;
    float: left;
    padding-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

.studioName{
    font-size: 20px;
    color: red;
    /*text-shadow: white 0 0 1px;*/
    font-weight: bold;
}

.registrationTitle{
    font-size: 50px;
    color: white;
    text-shadow: black 0 0 4px;
    font-weight: bold;
    margin-bottom: 0;
}

.userNames{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    color: red;
}

.userNames tr:nth-child(even){
    background-color: #838182;
    color: white;
}

th, tr{
    word-wrap:break-word;
}

.userNamesBox{
    width: 13%;
    height: 97%;
    border: solid 1px rgba(0, 0, 0, 0);
    /*box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);*/
    box-shadow: 0 1px 5px white;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 1%;
    background: aliceblue;
    float: left;
}

.chatButton{
    background: red;
    border-radius: 4px;
    width: 13%;
    color: white;
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 90%;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 41px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1%;
    float: left;
}


.registrationBox{
    margin-top: 10px;
    width: 60vw;
}

.textBox{overflow: auto;width: 65vw;}


body{
    background: url("background.png");
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chatPage{
    display: none;
}

.chatroomTitle{
    color: white;
    text-shadow: black 0 0 5px;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}